/* Globals */
* {
  box-sizing: border-box;
  background-color: #11061e;
  color: #fffe5a;

  font-size: 62.5%;
}


/* Pages */



/* Home */

.Home {
  margin: 0 2%;

}

.Home h1, h2, h3, h4 {
  font-size: 3rem;
}



.hero {
  width: 100%;
  margin: 0 auto; 

  display: flex;
  justify-content: flex-start;
}

.heroParagraph {
  width: 50%;
  margin-left: 2%;

  font-size: 1.8rem;
}

.portrait{
  height:400px;
  width: 500px;
}


/* About */

.About {
  margin: 0 2%;
}


/* Video */

.Video {
  margin: 0 2%;
}



/* Components */


/* Nav menu */

.navContainer{
  width: 100%;
  height: 60px;

  display: flex;  
  justify-content: space-between;
}

.linksContainer {
  width: 10%;
  margin-right: 2%;
}

.linksContainer ul {
  display: flex;
  justify-content: space-between;

}

.linksContainer li {
  margin-right: 5%;
  
  font-size: 3rem;
  
  list-style: none;
}

.linksContainer li a { 
  text-decoration: none;
}

.linksContainer li a:hover {
  color: #f3d92d
}

