<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hi, Strangeness</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Style links and fonts-->
        <link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">

		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">
		
		<!--Font Awesome-->
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    </head>


    <body>
        <section class='navContainer'>

            <section class='linksContainer'>
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/videos">Videos</a>
                  </li>
                  <li>   
                    <img src=/assets/images/header-logo.JPG alt="High strangeness title in graphic font"/>
                  </li>
                  <li>
                    <a href="/#episodes">Episodes</a>
                  </li>
                  <li>
                    <a href="">Merch</a>
                  </li>
                  <li>
                    <a href="">Patreon</a>
                  </li>
                </ul>
            </section>
        </section>
        
           <!-- Photo Banner  -->
           <div class='static-photo-banner-container'>
            <ul class='static-photo-banner'>
              <li><img src="/assets/images/armchair-portrait.JPG" alt="photo banner picture" /></li>
              <li><img src="https://storage.buzzsprout.com/variants/g4yldmb2wth0ptfmlzqyq4old55s/5cfec01b44f3e29fae1fb88ade93fc4aecd05b192fbfbc2c2f1daa412b7c1921.jpg" alt="photo banner picture" /></li>
              <li><img src="/assets/images/armchair-portrait.JPG" alt="photo banner picture" /></li>
              <li><img src="https://storage.buzzsprout.com/variants/g4yldmb2wth0ptfmlzqyq4old55s/5cfec01b44f3e29fae1fb88ade93fc4aecd05b192fbfbc2c2f1daa412b7c1921.jpg" alt="photo banner picture" /></li>
            </ul>
          </div>

        <!-- contact form  -->

        <div>
          <div class='contact-form-container'>
            <h3>Got a Story request or ideas for topics? <br/>
            Let us know!</h3>
    
            <form action=''
                  method="POST"
                  name="contact-form"
                  class='contact-form'
                  id="contact-form">
              <input type="text"
                name="name"
                placeholder='Name'
                />
                <input type="text"
                name="email"
                placeholder="email"
                />
                 <input type="subject"
                name="subject"
                placeholder="subject"
                />
                <textarea name='message'
                          placeholder='Message'
                          rows={5}></textarea>
                <input type="button" value="Send"/>
            </form>
          </div>
        </div>


            <!-- Footer  -->
            <div>
              <hr/>
              <h3>Footer</h3>
          </div>



        <!-- Scripts -->
        <script src="/assets/js/main.js"></script>
    </body>

</html>