<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hi, Strangeness</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Style links and fonts-->
        <link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">

		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">
		
		<!--Font Awesome-->
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    </head>


    <body>
        <section class='navContainer'>

            <section class='linksContainer'>
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/videos">Videos</a>
                  </li>
                  <li>   
                    <img src=/assets/images/header-logo.JPG alt="High strangeness title in graphic font"/>
                  </li>
                  <li>
                    <a href="/#episodes">Episodes</a>
                  </li>
                  <li>
                    <a href="https://www.imdb.com/name/nm2074421/">IMDB</a>
                  </li>
                  <li>
                    <a href="https://www.patreon.com/HiStrangeness/membership">Patreon</a>
                  </li>
                </ul>
            </section>
        </section>
        
           <!-- Photo Banner  -->
           <div class='static-photo-banner-container'>
            <ul class='about-static-photo-banner'>
              <li><img src="/assets/images/occult-eye.png" alt="drawing of occult radiant eye" /></li>
              <li><img src="/assets/images/black-panther.jpeg" alt="photo of panther" /></li>
              <li><img src="/assets/images/flying-winged-humanoid.jpeg" alt="drawing of flying winged humanoid" /></li>
              <li><img src="/assets/images/ufo.jpeg" alt="photo of UFO flying saucer" /></li>
              <li><img src="/assets/images/ramen.jpeg" alt="photo of ramen" /></li>
              <li><img src="/assets/images/ouija-2.jpeg" alt="photo of ouija board" /></li>
           </ul>
          </div>

        <!-- contact form  -->

        <div class="about-body-container">
          <div class="portrait-and-para">
          <img class="about-portrait" src="/assets/images/newLogo.png"/>
          <p>Steve Berg is an actor and improviser who just finished work on Tim Kasher’s film Who’s Watching. He can also be seen in Olivia Wilde’s new film Don’t Worry Darling, and is currently working on the feature film Snack Shack. He’s also been obsessed with UFOs, the paranormal, the occult and all things weird his entire life. Whenever he has the opportunity he lectures about Weird Nebraska at conferences and events. He can also be seen in New Line’s comedy feature Tag starring Jon Hamm and Rashida Jones. His credits also include recurring roles on NBC's The Good Place, ABC's The Goldbergs, Comedy Central's Idiotsitter, and BET's The Comedy Get Down. He has appeared in two features for director Joe Swanberg -- the Netflix Original Win It All and the indie Digging For Fire which premiered at the 2015 Sundance Film Festival. Other credits include Mike White's directorial debut Year of the Dog, Jared Hess’ Gentlemen Broncos, and Joss Whedon's digital series Dr. Horrible's Sing Along-Along Blog. Berg has been a drunk narrator multiple times on Comedy Central's Drunk History and was a series regular in the Fox Television pilot WTF America produced by Ron Howard and Brian Grazer. He is originally from Omaha, Nebraska.
          </p>
        </div>
          <div class='contact-form-container'>
            <h3>Got a Story request or ideas for topics? <br/>
            Let us know!</h3>
    
            <form action=''
                  method="POST"
                  name="contact-form"
                  class='contact-form'
                  id="contact-form">
              <input type="text"
                name="name"
                placeholder='Name'
                />
                <input type="text"
                name="email"
                placeholder="email"
                />
                 <input type="subject"
                name="subject"
                placeholder="subject"
                />
                <textarea name='message'
                          placeholder='Message'
                          rows={5}></textarea>
                <input type="button" value="Send"/>
            </form>
          </div>
        </div>


            <!-- Footer  -->
            <div>
              <hr/>
              <h3>Footer</h3>
          </div>



        <!-- Scripts -->
        <script src="/assets/js/main.js"></script>
    </body>

</html>