<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hi, Strangeness</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Style links and fonts-->
        <link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">

		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">
		
		<!--Font Awesome-->
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    </head>


    <body>
        <section class='navContainer'>

            <section class='linksContainer'>
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/videos">Videos</a>
                  </li>
                  <li>   
                    <img src=/assets/images/header-logo.JPG alt="High strangeness title in graphic font"/>
                  </li>
                  <li>
                    <a href="/#episodes">Episodes</a>
                  </li>
                  <li>
                    <a href="">Merch</a>
                  </li>
                  <li>
                    <a href="">Patreon</a>
                  </li>
                </ul>
            </section>
        </section>
        
           <!-- Photo Banner  -->
           <div class='static-photo-banner-container'>
            <ul class='about-static-photo-banner'>
              <li><img src="/assets/images/occult-eye.png" alt="drawing of occult radiant eye" /></li>
              <li><img src="/assets/images/black-panther.jpeg" alt="photo of panther" /></li>
              <li><img src="/assets/images/flying-winged-humanoid.jpeg" alt="drawing of flying winged humanoid" /></li>
              <li><img src="/assets/images/ufo.jpeg" alt="photo of UFO flying saucer" /></li>
              <li><img src="/assets/images/ramen.jpeg" alt="photo of ramen" /></li>
              <li><img src="/assets/images/ouija-2.jpeg" alt="photo of ouija board" /></li>
           </ul>
          </div>

        <!-- contact form  -->

        <div class="about-body-container">
          <div class="portrait-and-para">
          <img class="about-portrait" src="/assets/images/armchair-portrait.JPG"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat purus. 
            Sed lacinia, nibh eget efficitur tincidunt, mi nulla condimentum elit, 
            lacinia maximus massa massa finibus nisi. Nam sit amet eros leo. Morbi 
            pretium quis nisl a auctor. Nam convallis semper risus vitae sollicitudin.
             Nam tempor luctus sollicitudin. In accumsan egestas consectetur. Sed mattis 
             neque malesuada magna maximus, in mollis diam mollis. Morbi efficitur congue 
             neque, ut molestie purus pharetra vel. Sed eu elit et elit ultricies vehicula 
             a eu tortor. Mauris quam diam, congue sit amet suscipit eget, gravida sit amet 
             augue. Maecenas accumsan, lorem vel elementum viverra, ex arcu faucibus neque, 
             sit amet posuere diam augue quis nibh. Nam ut urna sed ligula cursus faucibus ac 
             convallis nibh. Proin eget nibh nec odio consequat fringilla. Ut mattis tortor ut 
             nulla porta ultricies.
            Vestibulum ac tellus mattis, elementum leo id, dignissim nulla. Cras rutrum semper
             hendrerit. Fusce in fermentum ligula, sed ultricies tellus. Phasellus aliquet dignissim
              mi. Duis mattis, mauris vel fringilla elementum, lacus ipsum imperdiet massa, ac 
              commodo ligula leo et arcu. Cras pulvinar, odio non blandit suscipit, ante ligula
              condimentum lorem, vel mollis ligula dui tincidunt est. Aliquam erat volutpat. 
              Aenean imperdiet nunc ipsum, a maximus quam pretium a. Aliquam ac iaculis nunc, 
              vitae pretium metus. In euismod sed est eget lacinia. Vivamus semper eget nulla 
              id facilisis. Quisque vel sodales nisl, sit amet posuere massa. Morbi posuere 
              venenatis nunc in consequat. Aliquam massa turpis, sodales at rhoncus hendrerit, 
              volutpat at orci.
            
            Donec turpis massa, interdum commodo porttitor a, mattis vitae diam. 
            Morbi lacinia est nec turpis pulvinar sodales. Vestibulum eu sollicitudin 
            eros, sed tristique libero. Proin porttitor libero vitae nibh sollicitudin 
            ornare. Donec nulla enim, finibus a viverra a, rhoncus eu dolor. Nam in auctor 
            nulla. Nunc aliquam scelerisque elementum. Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Nunc maximus euismod porta. Nullam nisl libero, viverra eu dictum
             gravida, maximus a ipsum. Aenean eget purus sed turpis vulputate efficitur.
          </p>
        </div>
          <div class='contact-form-container'>
            <h3>Got a Story request or ideas for topics? <br/>
            Let us know!</h3>
    
            <form action=''
                  method="POST"
                  name="contact-form"
                  class='contact-form'
                  id="contact-form">
              <input type="text"
                name="name"
                placeholder='Name'
                />
                <input type="text"
                name="email"
                placeholder="email"
                />
                 <input type="subject"
                name="subject"
                placeholder="subject"
                />
                <textarea name='message'
                          placeholder='Message'
                          rows={5}></textarea>
                <input type="button" value="Send"/>
            </form>
          </div>
        </div>


            <!-- Footer  -->
            <div>
              <hr/>
              <h3>Footer</h3>
          </div>



        <!-- Scripts -->
        <script src="/assets/js/main.js"></script>
    </body>

</html>