<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hi, Strangeness</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Style links and fonts-->
        <link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">

		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">
		
		<!--Font Awesome-->
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    </head>


    <body>
        <section class='navContainer'>

            <section class='linksContainer'>
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/videos">Videos</a>
                  </li>
                  <li>   
                    <img src=/assets/images/header-logo.JPG alt="High strangeness title in graphic font"/>
                  </li>
                  <li>
                    <a href="/#episodes">Episodes</a>
                  </li>
                  <li>
                    <a href="">Merch</a>
                  </li>
                  <li>
                    <a href="https://www.patreon.com/HiStrangeness/membership">Patreon</a>
                  </li>
                </ul>
            </section>
        </section>
        
        <section class="player-container">
          <section>
            <iframe class="main-show" width="960" height="540" src="//www.youtube.com/embed/_yopTNk6dUQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3><%= videos[0].snippet.title %></h3>
            <h5><%= videos[0].snippet.description %></h5>
          </section>
          <ul class="video-list">
            <% videos.forEach( video => { %>
              <li class ='video'>
                <img src=<%=video.snippet.thumbnails.default.url %> /> 
                <span><%= video.snippet.title %></span>
              </li>
            <% }) %>
          </ul>
        </section>
       

    <!-- Footer  -->
    <div>
      <hr/>
      <h3>Footer</h3>
  </div>

        <!-- Scripts -->
        <script src="/assets/js/videoFE.js"></script>
    </body>

</html>