@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');





/* Globals */
* {
    box-sizing: border-box;
    background-color: #11061e;
    color: #fffe5a;
    
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Creepster', serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }



  /* Pages */
  
  
  
  /* Home */
  
  .Home {
    height: 100%;
  }
  
  .Home h1, h2, h3, h4 {
    font-size: 3rem;
  }
  
  
  
  .hero {
    width: 78%;
    margin: 9% auto;
    display: flex;
    justify-content: flex-start;
  }
  
  .hero-logo { 
    height: 500px;
  }

  .heroParagraph {
    width: 90%;
  
    font-size: 1.8rem;
    text-align: center;
    margin: 3% auto;
  }
  
  .heroParagraph strong {
    font-size: 3rem;
  }
  
  .emailLink {
    font-size: 2rem;
  }
  
  .prominent {
    font-size: 3rem;
  }
  
  
  
  .portrait{
    height:400px;
    width: 500px;
  }
  
  
  
  /* About */
  
  .About {
    margin: 0 2%;
  }
  
  
  /* Video */
  
  
  .Video {
    margin: 0 2%;
  }
  
  .player-container {
    width: 80%;
    margin: 8% 10%;
    display: flex;
}

.player-container iframe{
  width: 77%;
  height: 139%;
}

.player-container h5{
  font-size: x-large;
  width: 79%;
}

.video-list {
  width: 90%;
  min-width: 400px;
  max-width: 400px;
  height: 535px;
}

  .main-show {
    margin: 0 auto;

  }

  .video span {
    font-size: x-large;
    background-color: #69215d;
    margin-left: 3%;
}

  
  li.video  {
    margin: 0% -5%;
    margin-top: 0;
    background-color: #69215d;
    height: 24%;
    width: 100%;
    /* border: lightyellow; */
}

li.video:hover span {
  color:#69215d;
  background-color:#fffe5a;
}
li.video:hover{
  color:#69215d;
  background-color:#fffe5a;
}
  
span#source, span#description {
  display: none;
  width: 0px;
}



  /* Nav menu */
  
  header {
    width: 100%;
  }
  
  .navContainer{
    width: 100%;
    height: 60px;
    margin: 1% auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navContainer img {
    width: 100%;
    height: 100%;
  }
  
  .linksContainer {
      width: 97%;
  }
  
  .linksContainer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .linksContainer li {
    margin: 0 2%;
    font-size: 2rem;
    list-style: none;
  }
  
  .linksContainer li a { 
    text-decoration: none;
    padding: 2% 0;
  }
  
  
  
  .linksContainer li a:hover {
    color: #f3d92d
  }
  
  
  /* Podcast episode player */
  .podcast-player {
    background-color: #69215d;
    width: 82%;
    height: 700px;
    margin: 8% auto;
    margin-bottom: 2%;
    padding-top: 0.25%;
  }
  
  
  
  .episode-player-container {
    display: flex;
    width: 100%;
    height: 80%;
    margin: 2% auto;
    padding-right: 2%;
    background-color: #69215d;
    justify-content: space-evenly;
  }
  
  .episode-player-logo {
    height: 500px;
    width: 500px;
    padding: 2%;
    padding-top: 0;
    background-color: #69215d;
  }
  
  .episode-player-interior {
    /* outline:2px solid red; */
    width: 59%;
  }
  
  .episode-player {
    display: flex;
  }
  
  
  .episode-timeline-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  
  
  .play-pause-episode {
    margin-top: 15%;
  }
  
  .episode-timeline-current-time, .episode-timeline-total-duration{
    font-size: 3rem;
    margin: 5%;
  }
  
  .episode-timeline-slider {
    width: 100%;
  }
  
  .episode-name {
    font-size: 3rem;
    width: fit-content;
    margin: 2% auto;
    text-align: center;
  }
  
  
  .episode-list-container {
    width: 100%;
    height: 61%;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .episode-list {
    width: 100%;
    padding: 0;
    list-style: none;
  }
  
  .episode{
    border-bottom: 2px solid #69215d;
    width: 100%;
    display:flex;
  }
  
  .episode span {
    font-size: 1.5rem;
    background-color: inherit;
    height: 50px;
    padding: 2%;
}
  /* .episode span:hover {
    color: #11061e;
  } */
  
  .episode:hover span {
    cursor: grab;
    background-color: antiquewhite;
    color: #11061e;
  }

  #episode-length {
    width: 30%;
    text-align: end;
  }

  #episode-title {
    width: 70%;
  }

  #episode-source {
    display: none;
  }
  
  /* Contact Form */
  .about-body-container {
    display: flex;
    width: 98%;
    margin: 5% auto;
    flex-direction: column;
}

  .about-body-container p {
    margin: 0 0 0 14%;
    width: 37%;
    font-size: x-large;
}

.about-portrait {
  height: 565px;
  width: 34%;
  padding: 2%;
  padding-top: 0;
  margin: 0 -9%;
}

.portrait-and-para {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  margin: 0 15%;
}

  .contact-form-container {
    width: 56%;
    height: 19%;
    background-color: #69215d;
    text-align: center;
    padding: 2%;
    margin: 5% auto;
}
  
  .contact-form-container h3 {
    background-color: #69215d;
  }
  
  .contact-form {
    font-size: 3rem;
    display: flex; 
    width: 100%; 
    margin: 2% auto;
    flex-direction: column;
    background-color: #69215d;
  }
  
  .contact-form input, .contact-form textarea{
    margin: 2%;
  }
  
  
  /* Static Photo Banner */
  
   .static-photo-banner-container {
    width: 100%;
    height: 300px;
    
  }
  
  .static-photo-banner {
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: space-between;
  }
  
.about-static-photo-banner {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 5% 0
}
.about-static-photo-banner li {
  height: 100%;
  width: 20%;
  margin: 1% auto;
  /* outline: 2px solid blue; */
  overflow: hidden;
}

.about-static-photo-banner li img {
  height: 100%;
  width: 100%;
}

  .about-static-photo-banner li {
    height: 100%;
    width: 20%;
    margin: 1% auto;
    /* outline: 2px solid blue; */
    overflow: hidden;
  }
  
  .static-photo-banner li img {
    height: 100%;
    width: 100%;
  }
  

  /* Footer */

  #footer {
      width: 100%;
      margin-top: 24%;
      height: 150px;
  }